# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Scripts.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\it_academy\homework\Homework2_v2\Assets\Scripts\.idea\.idea.Scripts.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
